---
import Header from "../../components/Header.astro";
import { getCollection, CollectionEntry } from "astro:content";
import { date } from "astro/zod";
import { formatDate } from "../../libs/date";

interface Props {
  career: CollectionEntry<"careers">;
}

export async function getStaticPaths() {
  const careers = await getCollection("careers");
  return careers.map((career) => ({
    params: { career: career.slug },
    props: { career },
  }));
}

const { career } = Astro.props;
const { Content } = await career.render();
---

<!DOCTYPE html>
<html lang='ja'>
  <head>
    <meta charset='UTF-8' />
    <meta name='viewport' content='width=device-width' />
    <link rel='icon' type='image/svg+xml' href='/favicon.svg' />
    <title>{career.data.title}</title>
  </head>
  <body>
    <Header />
    <div class='container'>
      <time>{formatDate(career.data.date)}</time>
      <h1>{career.data.title}</h1>
      <div class='content'>
        <Content />
      </div>
    </div>
  </body>
</html>
<style>
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 40px;
  }
  h1 {
    margin: 0;
  }

  .content :global(a) {
    text-decoration: none;
  }
  .content :global(a):visited {
    color: blue;
  }
  .content :global(a):hover {
    text-decoration: underline;
  }
</style>
