---
import staffs from "../assets/staffs.json";
export const getStaticPaths = async () => {
  return staffs.map(({ slug }) => {
    return {
      params: { staff: slug },
    };
  });
};
const { staff } = Astro.params;
const staffData = staffs.find(({ slug }) => staff === slug);
---

<html>
  <head>
    <meta charset='utf-8' />
    <title>{staffData.name}</title>
  </head>

  <p>{staffData.name}</p>
  <p>{staffData.job}</p>


</html>
