---
import { getCollection } from "astro:content";
import Card from "../components/Card.astro";
import image from "../nakano.avif";

const careers = await getCollection("careers");
---

<html lang='ja'>
  <head>
    <meta charset='UTF-8' />
    <meta name='viewport' content='width=device-width' />
    <title>codegrid astro 12</title>
    <meta name='description' content='' />
  </head>
  <body>
    <div class='container'>
      <img src={image} class='img' />
      <p>Yuto Nakano</p>
      <div>
        {
          careers.map((career) => (
            <Card
              title={career.data.title}
              date={career.data.date}
              link={`/careers/${career.slug}`}
            />
          ))
        }
      </div>
    </div>
  </body>
</html>
<style>
  .container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }
  .img {
    border-radius: 100%;
    width: 120px;
  }
</style>
