---
import Header from "../components/header.astro";
const title = "codegrid-astro";
---

<html lang='en'>
  <head>
    <meta charset='utf-8' />
    <meta name='viewport' content='width=device-width' />
    <meta name='generator' content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <Header title={title} />
    <style>
      body {
        margin: 0;
      }
    </style>
  </body>
</html>
