---
import image from "../nakano.avif";
---

<nav>
  <a href='../' title='トップに戻る'>
    <img src={image} />
  </a>
</nav>
<style>
  nav {
    display: flex;
    height: 60px;
    align-items: center;
  }
  img {
    width: 50px;
    border-radius: 100%;
  }
</style>
